{% extends 'base.html' %}

{% block title %}
Doctors
{% endblock title %}

{% block body %}

<div class="container">

<div class="row">

<div class="col-md-4"></div>
<div class="col-md-4">
{% with messages=get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}

<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
    {{message}}

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


  {% endfor %}
  {% endif %}
  {% endwith %}
<br>
<h2 class="text-center text-white" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding: 15px; font-size: 22px; border-radius: 5px;background: rgb(45,3,3);
background: linear-gradient(90deg, rgba(45,3,3,1) 0%, rgba(32,22,88,1) 54%); ">DOCTOR BOOKING</h2>

<br>
<form action="/doctors" method="post" class="jumbotron">

<div class="form-group">

<input style="width: 100%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 18px;" type="email" class="form-control" name="email" value={{current_user.email}}  required>

</div>

<div class="form-group">

<input style="width: 100%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 18px;" type="text" class="form-control" name="doctorname" placeholder="Doctor Name" required>

</div>


<div class="form-group">

<input  style="width: 100%; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 18px;" type="text" class="form-control" name="dept" placeholder="Doctor Department" required>

</div>


  <button type="submit" class="btn btn-dark btn-sm btn-block" style="padding: 10px; font-size: 18px;background: hsl(85, 56%, 30%); width: 100%;">BOOK</button>

</form>

</div>
<div class="col-md-4"></div>

</div>

</div>

{% endblock body %}